body{
  margin: 0;
  /* background-color: #f06d06; */
}
.webscrap{
  display: grid;
}

.webscrapper-item{
  display: flex;
  justify-content: space-evenly;
}


.webscraper-content{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.webscraper-button button{
  width: 100px;
}
.webscrap-body{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.webscrap textarea{
  width: 250px;
  height: 300px;
}

.search-content{

}

.navbar-text{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.navbar{
  height: 50px;
  background-color: red;
  background-image:
    linear-gradient(
    to bottom, 
      red, #f06d06, #faac71, #fdc295
    );
  display: flex;
  justify-content: center;
  color: white;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}